# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/

# PyQt5 Designer files
*.pyc
*.pyo

# IDE and editor-specific files
.idea/

# PyQt5 cache and build artifacts
*.pyqt5_cache/
__pycache__/
